:root{
    --color-white: #ffff;
    --color-white1: #e3e3e3;
    --color-green1: #59b127;
    --color-black1: #000000;
    --color-gray1: #0e0e0e;
    --color-purple: #800080;
    --color-blue: #2325a8;
}
*{
    margin: 0;
    padding: 0;
}
.icone{
    width: 45px;
    height: 45px;
}
.logo_header{
    display: inline-flex;
    width: 45px;
    height: 45px;
}
.banner{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 45px;
}
.carlinhos{
    width: 800px;
}
footer{
    background-color: black;
}